[submodule "Tools/EventAssembler"]
	path = Tools/EventAssembler
	url = https://github.com/StanHash/EventAssembler
[submodule "Tools/FE-PyTools"]
	path = Tools/FE-PyTools
	url = https://github.com/StanHash/FE-PyTools
[submodule "Tools/Elucidator"]
	path = Tools/Elucidator
	url = https://github.com/Pikmin1211/Elucidator
[submodule "Wizardry/CHAX/FE-CLib-Decompatible"]
	path = Wizardry/CHAX/FE-CLib-Decompatible
	url = https://github.com/boviex/FE-CLib-Decompatible
